<div class="relative">
  <div
    class="mx-auto max-w-screen-xl lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-8"
  >
    <div
      class="px-8 pb-24 pt-10 sm:pb-32 lg:col-span-7 lg:px-0 lg:pb-56 lg:pt-48 xl:col-span-6"
    >
      <div class="mx-auto max-w-lg lg:mx-0">
        <a
          class="inline-flex items-center gap-3 font-light tracking-tight text-white"
          href="/"
        >
          <!-- Insert audiotheft logo here -->
          <span>AudioTheft</span>
        </a>

        <p
          class="mt-8 text-4xl font-light lg:text-6xl text-balance tracking-tight text-white uppercase font-serif"
        >
          Joint the journey into the depths of experience, and discovery.
        </p>
        <p class="mt-6 text-lg leading-8 font-light lg:text-xl text-zinc-400">
          Exploring perspectives, uncovering truths, and embracing the
          fascinating tapestry of life
        </p>
      </div>
    </div>
    <div
      class="relative lg:col-span-5 lg:-mr-8 xl:absolute xl:inset-0 xl:left-1/2 xl:mr-0"
    >
      <img
        class="aspect-[3/2] w-full bg-black object-cover lg:absolute lg:inset-0 lg:aspect-auto lg:h-full"
        src="public/images/portraitpic1.webp"
        alt="hero pic"
      />
    </div>
  </div>
</div>
