---
const currentDate = new Date().getFullYear();
---

<footer>
  <div class="px-8 py-12 mx-auto md:px-12 max-w-screen-xl lg:py-12 text-white">
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="grid grid-cols-2 lg:grid-cols-2 max-w-xl gap-2 gap-y-12">
        <div class="mt-12 md:mt-0">
          <h3 class="text-sm font-medium font-serif uppercase tracking-wide">
            Streaming Platforms
          </h3>
          <ul role="list" class="mt-4 space-y-2 text-sm">
            <li>
              <a
                href="https://soundcloud.com/audiotheft"
                class="text-zinc-500 hover:"
              >
                SoundCloud
              </a>
            </li>
            <li>
              <a
                href="https://www.mixcloud.com/dhiloghe-ashwin/"
                class="text-zinc-500 hover:"
              >
                MixCloud
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-sm font-medium font-serif uppercase tracking-wide">
            Socials
          </h3>
          <ul role="list" class="mt-4 space-y-2 text-sm">
            <li>
              <a
                href="https://twitter.com/audiotheft"
                class="text-zinc-500 hover:"
              >
                @audiotheft
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="gap-x-8 gap-y-6 lg:col-span-2 text-zinc-500 font-light uppercase"
      >
        <p class="lg:col-span-2 md:text-base xl:text-2xl">
          © {currentDate}
          <a href={Astro.site}>AudioTheft</a>
        </p>
        <p class="text-xs mt-1">
          Made by <a
            href="https://qrius.global"
            target="_blank"
            rel="noopener"
            class="hover:underline font-bold"
          >
            Qrius Global
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
